<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
  <link rel="stylesheet" href="./main.css" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Anton|Permanent+Marker|Righteous|Rubik+Mono+One&display=swap"
    rel="stylesheet">

  <title>GameHub</title>
</head>

<body class="bg-dark vh-100">

  <!-- Component Nav Bar  -->
  <nav class="navbar navbar-expand-lg navbar-light bg-common">
    <a class="logo navbar-brand col-3 col-md-11 " href="#"><img src="./images/aces.png">GameHub</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a style="font-weight: bold" class="nav-link " href="#">Login <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a style="font-weight: bold" class="nav-link " href="#">Register</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- Component Nav Bar  -->



  <div class="d-flex block vh-100">

    <!-- Component Active Games -->
    <section class="col-1 col-md-2 text-white side-containers active-games ">
      <h3 class="text-white alert-danger bg-dark text-center justify-content-center box-shadow">Active Games</h3>
      <div class="container pre-scrollable">
        <button class="col-12 alert-success btn-lg" style="height:80px">asdadasdad</button>
        <button class="col-12 alert-success btn-lg" style="height:80px">asdad</button>
        <button class="col-12 alert-success btn-lg" style="height:80px">asdads</button>
        <button class="col-12 alert-warning btn-lg" style="height:80px">asdasd</button>
        <button class="col-12 alert-warning btn-lg" style="height:80px">asdasd</button>
        <button class="col-12 alert-danger btn-lg" style="height:80px">asdasd</button>
        <button class="col-12 alert-danger btn-lg" style="height:80px">asdad</button>
        <button class="col-12 alert-warning btn-lg" style="height:80px">asdasd</button>
        <button class="col-12 alert-warning btn-lg" style="height:80px">asdasd</button>
        <button class="col-12 alert-danger btn-lg" style="height:80px">asdasd</button>
        <button class="col-12 alert-danger btn-lg" style="height:80px">asdad</button>
        <button class="col-12 alert-warning btn-lg" style="height:80px">asdasd</button>
        <button class="col-12 alert-warning btn-lg" style="height:80px">asdasd</button>
        <button class="col-12 alert-danger btn-lg" style="height:80px">asdasd</button>
        <button class="col-12 alert-danger btn-lg" style="height:80px">asdad</button>
      </div>
    </section>
    <!-- Component Active Games -->

    <!-- Component Games -->
    <section class="col-12 col-md-8 row">

      <div class=" col-12 col-md-11 bg-alternate-2 ">
        <div class="playingcard">
          <img src="images/blackBack">
        </div>
        <div class="playingcard">
          <img class="aces" src="images/aces.png">
          <img src="images/blackBack">
          <table class="table table-borderless table-dark  text-center" style="width:25%">
            <thead class="text-dark login" style="background:red">
              <tr>
                <th scope="col">Player</th>
                <th scope="col">Points</th>
              </tr>
            </thead>
            <tbody class="bg-light text-dark table-shadow ">
              <tr>
                <td>Vijay</td>
                <td>12</td>
              </tr>
              <tr>
                <td>Yajiv</td>
                <td>4</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="playingcard">
          <img src="images/blackBack">
        </div>
      </div>
    </section>



    <!-- Active Users Component -->


    <section class=" text-dark  side-containers active-users">
      <h3 class=" text-white alert-danger bg-dark text-center justify-content-center box-shadow">Active Players</h3>

      <h4 class="text-center font-weight-bold user-block"> <a href="#"><img class="user" src="images/male.png">Vijay</a>
      </h4>
      <h4 class="text-center font-weight-bold user-block"> <a href="#"><img class="user" src="images/male.png">Vijay</a>
      </h4>
      <h4 class="text-center font-weight-bold user-block"> <a href="#"><img class="user"
            src="images/female.png">Vijay</a>
      </h4>

      <h4 class="text-center font-weight-bold user-block"> <a href="#"><img class="user" src="images/male.png">Vijay</a>
      </h4>

      <h4 class="text-center font-weight-bold user-block"> <a href="#"><img class="user"
            src="images/female.png">Vijay</a>
      </h4>
      <h4 class="text-center font-weight-bold user-block"> <a href="#"><img class="user"
            src="images/female.png">Vijay</a>
      </h4>
      <h4 class="text-center font-weight-bold user-block"> <a href="#"><img class="user" src="images/male.png">Vijay</a>
      </h4>
    </section>
    <!-- Active Users Component -->

  </div>



  <!-- <div class="footer">

  </div> -->























  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>