<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
  <link rel="stylesheet" href="./main.css" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Anton|Permanent+Marker|Righteous|Rubik+Mono+One&display=swap"
    rel="stylesheet">

  <title>GameHub</title>
</head>

<body class="bg-dark vh-100">

  <!-- Component Nav Bar  -->
  <nav class="navbar navbar-expand-lg navbar-light bg-common">
    <a class="logo navbar-brand col-3 col-md-11 " href="#"><img src="./images/aces.png">GameHub</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a style="font-weight: bold" class="nav-link " href="#">Login <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a style="font-weight: bold" class="nav-link " href="#">Register</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- Component Nav Bar  -->



  <div class="d-flex">

    <!-- Component Active Games -->
    <section class="col-1 col-md-2 text-white side-containers active-games ">
      <h3 class="text-white alert-danger bg-dark text-center justify-content-center box-shadow">Active Games</h3>
      <div class="container">
        <button class="col-12 alert-success btn-lg" style="height:80px">asdadasdad</button>
        <button class="col-12 alert-success btn-lg" style="height:80px">asdad</button>
        <button class="col-12 alert-success btn-lg" style="height:80px">asdads</button>
        <button class="col-12 alert-warning btn-lg" style="height:80px">asdasd</button>
        <button class="col-12 alert-warning btn-lg" style="height:80px">asdasd</button>
        <button class="col-12 alert-danger btn-lg" style="height:80px">asdasd</button>
        <button class="col-12 alert-danger btn-lg" style="height:80px">asdad</button>
      </div>
    </section>
    <!-- Component Active Games -->

    <!-- Component Games -->
    <section class=" col-12 col-md-8 d-flex row">
      <!-- Component Games -->
      <div class="card col-12 col-md-3 bg-common game-top-div">
        <img class="card-img-top card-images" src="./images/goofspiel.jpeg" alt="Card image cap">
        <div class="card-body ">
          <h4 class="card-title  ">GoofSpiel</h4>
          <p class="card-text ">Some quick example text to build on the card title and make up the bulk of
            the
            card's
            content.
          </p>
          <article class="d-flex justify-content-between">
            <button class="btn btn-dark btn-lg">PLAY</button>
            <button class=" btn btn-dark btn-lg">Rules</button>
          </article>
        </div>
      </div>

      <!-- Component Games -->
      <!-- Component Games -->

      <div class=" card col-12 col-md-3 bg-common" style="margin: 4%">
        <img class="card-img-top card-images" src="./images/rummy.jpeg" alt="Card image cap">
        <div class="card-body ">
          <h4 class="card-title  ">Rummy</h4>
          <p class="card-text ">Some quick example text to build on the card title and make up the bulk of
            the
            card's
            content.
          </p>
          <article class="d-flex justify-content-between">
            <a href="#" class=" btn btn-dark btn-lg" style="border-radius:5px">PLAY</a>
            <a href="#" class=" btn btn-dark btn-lg" style="border-radius:5px">Rules</a>
          </article>
        </div>
      </div>

      <div class=" card col-12 col-md-3 bg-common" style="margin: 4%">
        <img class="card-img-top card-images" src="./images/war.png" alt="Card image cap">
        <div class="card-body ">
          <h4 class="card-title  ">War</h4>
          <p class="card-text ">Some quick example text to build on the card title and make up the bulk of
            the
            card's
            content.
          </p>
          <article class="d-flex justify-content-between">
            <a href="#" class=" btn btn-dark btn-lg" style="border-radius:5px">PLAY</a>
            <a href="#" class=" btn btn-dark btn-lg" style="border-radius:5px">Rules</a>
          </article>
        </div>
      </div>



      <div class=" card col-12 col-md-3 bg-common" style="margin: 4%">
        <img class="card-img-top card-images" src="./images/idiot.png" alt="Card image cap">
        <div class="card-body ">
          <h4 class="card-title  ">Idiot</h4>
          <p class="card-text ">Some quick example text to build on the card title and make up the bulk of
            the
            card's
            content.
          </p>
          <article class="d-flex justify-content-between">
            <a href="#" class=" btn btn-dark btn-lg" style="border-radius:5px">PLAY</a>
            <a href="#" class=" btn btn-dark btn-lg" style="border-radius:5px">Rules</a>
          </article>
        </div>
      </div>

      <div class=" card col-12 col-md-3 bg-common" style="margin: 4%">
        <img class="card-img-top card-images" src="./images/memory.jpg" alt="Card image cap">
        <div class="card-body ">
          <h4 class="card-title  ">Memory</h4>
          <p class="card-text ">Some quick example text to build on the card title and make up the bulk
            of
            the
            card's
            content.
          </p>
          <article class="d-flex justify-content-between">
            <a href="#" class=" btn btn-dark btn-lg" style="border-radius:5px">PLAY</a>
            <a href="#" class=" btn btn-dark btn-lg" style="border-radius:5px">Rules</a>
          </article>
        </div>
      </div>

      <div class=" card col-12 col-md-3 bg-common " style=" margin: 4%">
        <img class="card-img-top card-images" src="./images/hearts.png" alt="Card image cap">
        <div class="card-body ">
          <h4 class="card-title  ">GoofSpiel</h4>
          <p class="card-text ">Some quick example text to build on the card title and make up the
            bulk of
            the
            card's
            content.
          </p>
          <article class="d-flex justify-content-between">
            <a href="#" class=" btn btn-dark btn-lg" style="border-radius:5px">PLAY</a>
            <a href="#" class=" btn btn-dark btn-lg" style="border-radius:5px">Rules</a>
          </article>
        </div>


      </div>
    </section>



    <!-- Active Users Component -->


    <section class=" text-dark  side-containers active-users">
      <h3 class=" text-white alert-danger bg-dark text-center justify-content-center box-shadow">Active Players</h3>

      <h4 class="text-center font-weight-bold user-block"> <a href="#"><img class="user" src="images/male.png">Vijay</a>
      </h4>
      <h4 class="text-center font-weight-bold user-block"> <a href="#"><img class="user" src="images/male.png">Vijay</a>
      </h4>
      <h4 class="text-center font-weight-bold user-block"> <a href="#"><img class="user"
            src="images/female.png">Vijay</a></h4>

      <h4 class="text-center font-weight-bold user-block"> <a href="#"><img class="user" src="images/male.png">Vijay</a>
      </h4>

      <h4 class="text-center font-weight-bold user-block"> <a href="#"><img class="user"
            src="images/female.png">Vijay</a></h4>
      <h4 class="text-center font-weight-bold user-block"> <a href="#"><img class="user"
            src="images/female.png">Vijay</a></h4>
      <h4 class="text-center font-weight-bold user-block"> <a href="#"><img class="user" src="images/male.png">Vijay</a>
      </h4>
    </section>
    <!-- Active Users Component -->

  </div>



  <!-- <div class="footer">

  </div> -->























  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>